@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
  background-color: #020806;
  color: #a8a29e;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020806;
}

#root {
  width: 100%;
}